.Fixture-block {
    margin: auto;
    width: 80%;
    background-color: green;
    background-repeat: repeat;
    padding: 0.5em;
}

.Row {

    display: inline-block;


}

.width4 {
    width: 25%;

}
.width2 {
    width: 50%;

}
.width3 {
    width: 33%;

}
.width5 {
    width: 20%;

}
.ml4 {
    margin-left: 25%;

}
.ml2 {
    margin-left: 50%;

}
.ml3 {
    margin-left: 40%;

}
.ml5 {
    margin-left: 20%;

}
.mr4 {
    margin-right: 25%;

}
.mr2 {
    margin-right: 50%;

}
.mr3 {
    margin-right: 40%;

}
.mr5 {
    margin-right: 20%;

}
@media (max-width: 320px) {

    .width2, .width3, .width4, .width5 {
        width: 100%;
    }
    .ml2, .ml3, .ml4, .ml5 {
        margin-left: 0;
    }
    .mr2, .mr3, .mr4, .mr5 {
        margin-right: 0;
    }

}



