.player {
    min-height: 5em;
    text-align: center;
    background-size: contain;
    background: #229999 no-repeat center;
    line-height: 5em;
    margin: 0.5em;
    padding: 1em;
}
.player p {
    line-height: 20%;
}

@media (max-width: 320px) {
    .player p {
        line-height: unset;
    }
    .player {
        line-height: unset;
    }

}
@media (max-width: 800px) {
    .player p {
        line-height: 100%;
    }


}